@using Hinet.Model.IdentityEntities
@using Hinet.Model.Entities
@using Hinet.Web.Areas.QLLogXuLyArea.Models

@model CreateVM
@{

}

<div class="modal-dialog">
    @using (Ajax.BeginForm("Create", "QLLogXuLy", new { @area = "QLLogXuLyArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "createQLLogXuLyForm",enctype= "multipart/form-data" }))
    {
    @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
 <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="center">
                <h4 class="modal-title">Tạo mới Quản lý log xử lý</h4>
            </div>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
            </div>
        </div>
        <div class="modal-footer center">
            <button type="submit" class="btn btn-primary">Hoàn thành</button>

            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
    }
</div>

<script>
</script>
@Scripts.Render("~/bundles/jqueryval")