<div class="p-3" style="padding-left: 0 !important;">
    <div class="bc-header border p-3 d-flex">
        <span class="bc-title col-4">Tìm kiếm</span>
        <div class="custom-select col-8 d-flex gap-2 justify-content-end classNameFilter">
            @*Render view filter*@
        </div>
    </div>
    <div class="bc-content">
        <div class="loader-line" style="display: none"></div>
        <div class="bc-content-body table_component classNameDataTable" style="height: auto">
            @*Render data table*@
        </div>
    </div>
</div>