@using Hinet
<div class="clearBoth"></div>
<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
            <div>
                Tỉnh Bắc Giang
            </div>
            <div>Báo cáo thống kê ngành Thông tin và Truyền thông</div>
            <div class="footer-style">
                <span class="m-right30">Điện thoại: 0204 3555 996</span>
                <span>Website: https://bacgiang.gov.vn/</span>
            </div>
        </div>
    </div>
</div>