

@using Newtonsoft.Json;
@using Hinet.Service.Common;
@using Hinet.Service.QlAntensService.Dto;
@model PageListResultBO<QlAntensDto>
@{
    var lstData = Html.Raw(JsonConvert.SerializeObject(Model.ListItem));
}

<style>
    .tinhtrang {
        width: 160px;
    }

    .center {
        text-align: center;
    }
</style>

<div class="modal-dialog" style="width: 80%;">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close btn-close-modal" data-dismiss="modal">&times;</button>
            <div class="center">
                <h4 class="modal-title">Danh sách Ăng ten còn hạn</h4>
            </div>
        </div>
        <div class="modal-body">
            <div class="">
                @Html.Partial("_SearchPartial")
            </div>

            <div id="tbl-QlAntens" class="hntbl-cover table-scroll">
                <div class="table-wrap">
                    <table class="hinet-table table table-striped table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="fixed-side">#</th>
                                <th>Ngày hết hạn</th>
                                <th>Đến hết hạn còn</th>
                                <th>Mã cột</th>
                                <th>Tên cột</th>
                                <th>Loại cột</th>
                                <th>Huyện</th>
                                <th>Xã</th>
                                <th>Địa chỉ lắp đặt</th>
                                <th>Tình trạng hoạt động</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="modal-footer center">
            <button type="button" class="btn btn-default btn-close-modal" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>

<script>
    var lstData = eval(@lstData);
        var moduleTableSelector="#tbl-QlAntens";
        function pagefunction(){
            var conf=[
                {
                    tdClass:"center width50 fixed-side",
                    isSort:false,
                    nameModel: "",
                    isCounter:true,
                    content: function (data) {
                        return "<input type='checkbox' />"
                    }
                },
                {
                    isSort: true,
                    nameModel: 'NgayHetHan',
                    content: function (data) {
                       return ToDate(data.NgayHetHan)
                    }
                },
                {
                    isSort: true,
                    nameModel: 'NgayHetHan',
                    content: function (data) {
                        let date = data.NgayHetHan;
                        if (data.NgayHetHan.includes("/Date")) {
                            let timestamp = parseInt(data.NgayHetHan.match(/\d+/)[0]);
                            date = new Date(timestamp);
                        }
                        var ngayhethan = new Date(date);
                        var currentDate = new Date();
                        var dayDiff = Math.abs(Math.floor((ngayhethan - currentDate) / (1000 * 60 * 60 * 24)) + 1);
                        return `<div class="greenColor">${dayDiff} ngày</div>`;
                    }
                },
				{
                    isSort: true,
                    tdClass: "center",
					nameModel:'MaCot',
					content: function (data) {
					return data.MaCot
				}
				},
				{
					isSort:true,
					nameModel:'TenCot',
					content: function (data) {
					return data.TenCot
				}
				},
				{
					isSort:true,
                    nameModel: 'LoaiCot',
                    tdClass: "center",
					content: function (data) {
					return data.LoaiCot
				}
				},
				{
					isSort:true,
                    nameModel:'Huyen',
					content: function (data) {
					return data.Huyen
				}
				},
				{
					isSort:true,
                    nameModel:'Xa',
					content: function (data) {
					return data.Xa
				}
                },
                {
					isSort:true,
                    nameModel:'DiaChiLapDat',
                    content: function (data) {
                        return data.DiaChiLapDat
				    }
				},

				
                {
                    isSort: true,
                    nameModel: 'TinhTrangHoatDong',
                    content: function (data) {
                        return data.TinhTrangHoatDong
                    }
                },
            ];

            var getdatafunc = function (page, sortQuery, pageSize) {
                var strSearch = $('#input-search').val();
                $.ajax({
                    url: '/QLCanhBao/CanhBao/getDataAntensConHan',
                    type: 'get',
                    cache: false,
                    data: { "indexPage": page, "sortQuery": sortQuery, "pageSize": pageSize, "strSearch": strSearch },
                    success: function (data) {
                        $(moduleTableSelector).hinetTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        NotiError("Đã có lỗi xảy ra trong quá trình lấy dữ liệu");
                    }
                });

            }

            var tblData = $("#tbl-QlAntens").hinetTable("init", {
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.TotalPage,
                recordCount: @Model.Count,
                actionToolBar:'',
                getData:getdatafunc,
                listItem:lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).hinetTable("reload");
        }

        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).hinetTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();
</script>
