

@using Newtonsoft;
@using Hinet.Web.Areas.QLCanhBao.Data;
@model saTisFyModel

@{
    ViewBag.ModuleCode = "QLCanhBao_iNDEX";
    ViewBag.ModuleName = "Quản lý cảnh báo";
    ViewBag.PageName = "Thông tin cảnh báo";
    ViewBag.Title = "Quản lý cảnh báo";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";


    var canhBaoAntens = Html.Raw(Json.Encode(Model.canhbaoAnten));
    var canhbaoTramBts = Html.Raw(Json.Encode(Model.canhbaoTramBts));
}

<!-- Styles -->
<style>
    #canhbaoAnten {
        width: 100%;
        height: 500px;
    }

    #canhbaoBts {
        width: 100%;
        height: 500px;
    }

    .title-table {
        font-size: 15px;
        font-weight: bolder;
        text-transform: uppercase;
    }

    .tite-canhbao {
        font-size: 15px;
        font-weight: bolder;
    }

    .title_heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .greenColor {
        color: #4CAF50;
    }

    .redColor {
        color: #FF5733;
    }

    .yellowColor {
        color: #FFC300;
    }

</style>


<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>



<div>
    <div class="title_heading">
        <span class="title-table">
            Tổng hợp thông tin trạm BTS
        </span>
        <a href="javascript:void(0)" id="trambtsShow" class="btn btn-primary btn-sm">
            <i class="glyphicon glyphicon-eye-open"></i>
            Xem thông tin
        </a>
    </div>
    <div id="canhbaoBts"></div>
</div>


<div>

    <div class="title_heading">
        <span class="title-table">
            Tổng hợp thông tin cột anten
        </span>
        <a href="javascript:void(0)" id="antensShow" class="btn btn-primary btn-sm">
            <i class="glyphicon glyphicon-eye-open"></i>
            Xem thông tin
        </a>
        
    </div>
    <div id="canhbaoAnten"></div>


</div>
<script>

    var currentUrl = "";
    var canhBaoAnten = @canhBaoAntens != null ? @canhBaoAntens : null;
    var canhbaoTramBts = @canhbaoTramBts != null ? @canhbaoTramBts : null;
    var keysCanhBaoAnten = Object.keys(canhBaoAnten);
    var keysCanhBaoTramBts = Object.keys(canhbaoTramBts);
    $('#antensShow').click(function () {
        $.ajax({
            url: '/QLCanhBao/CanhBao/InforAntens',
            type: 'GET',
            success: function (rs) {
                $("#MasterModal").html(rs);
                $("#MasterModal").modal('show');
            },
            error: function (xhr) {
                NotiError("Có lỗi")
            }
        })
    })


    $('#trambtsShow').click(function () {
        $.ajax({
            url: '/QLCanhBao/CanhBao/InforTram',
            type: 'GET',
            success: function (rs) {
                $("#MasterModal").html(rs);
                $("#MasterModal").modal('show');
            },
            error: function (xhr) {
                NotiError("Có lỗi")
            }
        })
    })



    am5.ready(function () {

        var root = am5.Root.new("canhbaoBts");
        root._logo.dispose()

        root.setThemes([
            am5themes_Animated.new(root)
        ]);
        var chart = root.container.children.push(am5percent.PieChart.new(root, {
            layout: root.verticalLayout,
            innerRadius: am5.percent(50)
        }));
        var series = chart.series.push(am5percent.PieSeries.new(root, {
            valueField: "value",
            categoryField: "canhbaoBts",
            alignLabels: false
        }));

        series.get("colors").set("colors", [
            am5.color(0xFFC300),
            am5.color(0xFF5733),
            am5.color(0x4CAF50),
        ]);

        series.labels.template.setAll({
            textType: "circular",
            centerX: 0,
            centerY: 0,
            inside: false
        });

        series.data.setAll([
            {
                canhbaoBts: "Sắp hết hạn",
                value: canhbaoTramBts[keysCanhBaoTramBts[2]],
                ajaxurl: "/QLCanhBao/CanhBao/TramBTSSapHetHan",
            }, {
                canhbaoBts: "Hết hạn",
                value: canhbaoTramBts[keysCanhBaoTramBts[1]],
                ajaxurl: "/QLCanhBao/CanhBao/TramBTSHetHan",
            }, {
                canhbaoBts: "Còn hạn",
                value: canhbaoTramBts[keysCanhBaoTramBts[0]],
                ajaxurl: "/QLCanhBao/CanhBao/TramBTSConHan",
            }
        ]);


        var legend = chart.children.push(am5.Legend.new(root, {
            centerX: am5.percent(50),
            x: am5.percent(50),
            marginTop: 15,
            marginBottom: 15,
        }));


        legend.data.setAll(series.dataItems);
        series.appear(1000, 100);

        series.slices.each(function (slice) {
            slice.events.on("click", function (ev) {
                var dataItem = ev.target.dataItem;
                const ajaxUrl = dataItem.dataContext.ajaxurl;
                let strSearch = $('#input-search').val();
                if (strSearch == null || strSearch == undefined) {
                    strSearch = "";
                }
                currentUrl = ajaxUrl;
                $.ajax({
                    url: ajaxUrl,
                    type: 'get',
                    data: { strSearch: strSearch },
                    success: function (rs) {
                        $('#MasterModal').html(rs);
                        $("#MasterModal").modal("show");
                        $('#input-search').val(strSearch);
                    },
                    error: function () {
                        alert("Đã xảy ra lỗi khi lấy dữ liệu!");
                    }
                });
            });


            slice.events.on("pointerover", function (ev) {
                document.body.style.cursor = "pointer";
                series.slices.template.set("tooltipText", "{category}: {value} trạm BTS");

            })

            slice.events.on("pointerout", function (ev) {
                document.body.style.cursor = "default";
            })
        });

    });






    am5.ready(function () {

        var rootcanhbaoAnten = am5.Root.new("canhbaoAnten");
        rootcanhbaoAnten._logo.dispose()


        var myTheme = am5.Theme.new(rootcanhbaoAnten);

        myTheme.rule("Grid", ["base"]).setAll({
            strokeOpacity: 0.1
        });

        rootcanhbaoAnten.setThemes([
            am5themes_Animated.new(rootcanhbaoAnten),
            myTheme
        ]);



        var chart = rootcanhbaoAnten.container.children.push(
            am5xy.XYChart.new(rootcanhbaoAnten, {
                panX: false,
                panY: false,
                wheelX: "none",
                wheelY: "none",
                paddingLeft: 0
            })
        );


        var yRenderer = am5xy.AxisRendererY.new(rootcanhbaoAnten, {
            minGridDistance: 30,
            minorGridEnabled: true
        });
        yRenderer.grid.template.set("location", 1);

        var yAxis = chart.yAxes.push(
            am5xy.CategoryAxis.new(rootcanhbaoAnten, {
                maxDeviation: 0,
                categoryField: "canhbaoantens",
                renderer: yRenderer
            })
        );

        var xAxis = chart.xAxes.push(
            am5xy.ValueAxis.new(rootcanhbaoAnten, {
                maxDeviation: 0,
                min: 0,
                renderer: am5xy.AxisRendererX.new(rootcanhbaoAnten, {
                    visible: true,
                    strokeOpacity: 0.1,
                    minGridDistance: 80
                })
            })
        );
        var series = chart.series.push(
            am5xy.ColumnSeries.new(rootcanhbaoAnten, {
                xAxis: xAxis,
                yAxis: yAxis,
                valueXField: "value",
                sequencedInterpolation: true,
                categoryYField: "canhbaoantens"
            })
        );

        var columnTemplate = series.columns.template;
            columnTemplate.setAll({
                draggable: true,
                cursorOverStyle: "pointer",
                tooltipText: " Số lượng anten {categoryY} : {valueX} anten",
                cornerRadiusBR: 10,
                cornerRadiusTR: 10,
                strokeOpacity: 0
            });

        var customColors = ["#FFC300", "#FF5733",  "#4CAF50"];

        columnTemplate.adapters.add("fill", (fill, target) => {
            var colorIndex = series.columns.indexOf(target);
            return customColors[colorIndex % customColors.length];
        });

        columnTemplate.adapters.add("stroke", (stroke, target) => {
            var colorIndex = series.columns.indexOf(target);
            return customColors[colorIndex % customColors.length];
        });

        columnTemplate.events.on("dragstop", () => {
            sortCategoryAxis();
        });

        // Get series item by category
        function getSeriesItem(category) {
            for (var i = 0; i < series.dataItems.length; i++) {
                var dataItem = series.dataItems[i];
                if (dataItem.get("categoryY") == category) {
                    return dataItem;
                }
            }
        }




        function sortCategoryAxis() {
            series.dataItems.sort(function (x, y) {
                return y.get("graphics").y() - x.get("graphics").y();
            });

            var easing = am5.ease.out(am5.ease.cubic);

            am5.array.each(yAxis.dataItems, function (dataItem) {
                var seriesDataItem = getSeriesItem(dataItem.get("category"));

                if (seriesDataItem) {
                    var index = series.dataItems.indexOf(seriesDataItem);

                    var column = seriesDataItem.get("graphics");
                    var fy =
                        yRenderer.positionToCoordinate(yAxis.indexToPosition(index)) -
                        column.height() / 2;
                    if (index != dataItem.get("index")) {
                        dataItem.set("index", index);
                        var x = column.x();
                        var y = column.y();

                        column.set("dy", -(fy - y));
                        column.set("dx", x);

                        column.animate({ key: "dy", to: 0, duration: 600, easing: easing });
                        column.animate({ key: "dx", to: 0, duration: 600, easing: easing });
                    } else {
                        column.animate({ key: "y", to: fy, duration: 600, easing: easing });
                        column.animate({ key: "x", to: 0, duration: 600, easing: easing });
                    }
                }
            });
            yAxis.dataItems.sort(function (x, y) {
                return x.get("index") - y.get("index");
            });
        }

        // Set data
        var data = [{
            canhbaoantens: "Sắp hết hạn",
            value: canhBaoAnten[keysCanhBaoAnten[2]],
            ajaxurl: "/QLCanhBao/CanhBao/AntensSapHetHan",
        }, {
            canhbaoantens: "Hết hạn",
            value: canhBaoAnten[keysCanhBaoAnten[1]],
            ajaxurl: "/QLCanhBao/CanhBao/AntensHetHan",
        }, {
            canhbaoantens: "Còn hạn",
            value: canhBaoAnten[keysCanhBaoAnten[0]],
            ajaxurl: "/QLCanhBao/CanhBao/AntensConHan",
        }];

        yAxis.data.setAll(data);
        series.data.setAll(data);
        series.appear(100);
        chart.appear(100, 100);

        series.columns.template.events.on("click", function (ev) {
            var dataItem = ev.target.dataItem;
            handleClick(dataItem);
        })

        function handleClick(dataItem) {
            const ajaxUrl = dataItem.dataContext.ajaxurl;
            let strSearch = $('#input-search').val();
            if (strSearch == null || strSearch == undefined) {
                strSearch = "";
            }
            currentUrl = ajaxUrl;
            $.ajax({
                url: ajaxUrl,
                type: 'get',
                data: { strSearch: strSearch },
                success: function (rs) {
                    $('#MasterModal').html(rs);
                    $("#MasterModal").modal("show");
                    $('#input-search').val(strSearch);
                },
                error: function () {
                    alert("Đã xảy ra lỗi khi lấy dữ liệu!");
                }
            });
        }

    });


    $(document).ready(function () {
        // click nút tìm kiếm
        $(document).on('click', '.btn-search', function () {
            debugger
            let strSearch = $('#input-search').val();
            if (strSearch == null || strSearch == undefined) {
                strSearch = "";
            }

            $.ajax({
                url: currentUrl,
                type: 'get',
                data: { strSearch: strSearch },
                success: function (rs) {
                    $('#MasterModal').html(rs);
                    $("#MasterModal").modal("show");
                    $('#input-search').val(strSearch);

                },
                error: function () {
                    NotiError("Đã xảy ra lỗi khi lấy dữ liệu!");
                }
            })
        })

        // Enter
        $(document).on('keyup', '#input-search', function (event) {
            if (event.key === 'Enter') {
                let strSearch = $('#input-search').val();
                if (strSearch == null || strSearch == undefined) {
                    strSearch = "";
                }

                $.ajax({
                    url: currentUrl,
                    type: 'get',
                    data: { strSearch: strSearch },
                    success: function (rs) {
                        $('#MasterModal').html(rs);
                        $("#MasterModal").modal("show");
                        $('#input-search').val(strSearch);
                    },
                    error: function () {
                        NotiError("Đã xảy ra lỗi khi lấy dữ liệu!");
                    }
                })
            }

        })
    })





</script>
