@using Hinet.Web.Areas.QLCanhBao.Data
@model ModelTramBts


@{
    var listAntenConHan = Html.Raw(Json.Encode(Model.CONHANLST));
    var listAntenHetHan = Html.Raw(Json.Encode(Model.HETHANLST));
    var listAntenSapHetHan = Html.Raw(Json.Encode(Model.SAPHETHANLST));
}


<style>
    .txt-center {
        text-align: center;
    }

    .text-center {
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 18px;
    }

    .canhbaoEach {
        margin-bottom: 25px;
    }

        .canhbaoEach table * {
            border: 1px solid;
        }

        .canhbaoEach table {
            border-radius: 5px;
            overflow: hidden;
        }

            .canhbaoEach table thead {
                padding: 10px;
            }

            .canhbaoEach table * {
                padding: 5px;
            }

            .canhbaoEach table thead {
                background-color: #fff5bd;
            }

        .canhbaoEach > .row {
            margin-top: 20px;
        }

        .canhbaoEach span {
            border-radius: 3px;
            padding: 10px;
            font-weight: 600;
            margin-bottom: 25px;
            width: 100px;
        }

    .show_all {
        font-style: italic;
        font-size: 15px;
        position: relative;
        left: 90%;
    }

</style>
<link href="~/Areas/QLCanhBao/Views/Style/style.css" rel="stylesheet" />
<div class="modal-dialog" style="width: 70%;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <p class="tite-canhbao text-center">Thống kê cảnh báo</p>
        </div>
        <div class="modal-body">
            <div id="tbl-Antens" class="">


                <span class="show_all">
                    <a href="/TramBTSArea/TramBTS/Index">Xem tất cả</a>
                </span>

                <div class="canhbaoEach">
                    <span>
                        Danh sách còn hạn
                    </span>

                    <div class="row">
                        <table id="conhan-list" class="col-sm-12">
                            <thead>
                                <tr>
                                    <th>Mã trạm - Tên Trạm </th>
                                    <th>Huyện</th>
                                    <th>Xã</th>
                                    <th>Công nghệ phát sóng</th>
                                    <th>Đến hết hạn còn</th>
                                    <th>Trạng thái hoạt động</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>


                        <div class="container">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8">
                                    <nav class="pagination-box" aria-label="Page navigation">
                                        <ul class="pagination" style="display: flex; justify-content: center;">
                                            <li class="page-item">
                                                <a href="#" class="page-link" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            @if (Model.CONHANLST.TotalPage >= 1)
                                            {
                                                for (int i = 1; i <= Model.CONHANLST.TotalPage; i++)
                                                {
                                                    <li class="page-item">
                                                        <a class="page-link" onclick="getData('CONHAN',@i,10)" href="javascript:void(0)">@i</a>
                                                    </li>
                                                }
                                            }
                                            <li class="page-item">
                                                <a href="javascript:void(0)" class="page-link" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="canhbaoEach">
                    <span>
                        Danh sách hết hạn
                    </span>
                    <div class="row">
                        <table id="hethan-list" class="col-sm-12">
                            <thead>
                                <tr>
                                    <th>Mã trạm - Tên Trạm </th>
                                    <th>Huyện</th>
                                    <th>Xã</th>
                                    <th>Công nghệ phát sóng</th>
                                    <th>Đã quá hạn</th>
                                    <th>Trạng thái hoạt động</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8">
                                    <nav class="pagination-box" aria-label="Page navigation">
                                        <ul class="pagination" style="display: flex; justify-content: center;">
                                            <li class="page-item">
                                                <a href="#" class="page-link" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            @if (Model.HETHANLST.TotalPage >= 1)
                                            {
                                                for (int i = 1; i <= Model.HETHANLST.TotalPage; i++)
                                                {
                                                    <li class="page-item">
                                                        <a class="page-link" onclick="() => getData('HETHAN',@i,10)" href="javascript:void(0)">@i </a>
                                                    </li>
                                                }
                                            }
                                            <li class="page-item">
                                                <a href="javascript:void(0)" class="page-link" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="canhbaoEach">
                    <span>
                        Danh sách sắp hết hạn
                    </span>
                    <div class="row">
                        <table id="saphethan-list" class="col-sm-12">
                            <thead>
                                <tr>
                                    <th>Mã trạm - Tên Trạm </th>
                                    <th>Huyện</th>
                                    <th>Xã</th>
                                    <th>Công nghệ phát sóng</th>
                                    <th>Đến hết hạn còn</th>
                                    <th>Trạng thái hoạt động</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8">
                                    <nav class="pagination-box" aria-label="Page navigation">
                                        <ul class="pagination" style="display: flex; justify-content: center;">
                                            <li class="page-item">
                                                <a href="#" class="page-link" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            @if (Model.SAPHETHANLST.TotalPage >= 1)
                                            {
                                                for (int i = 1; i <= Model.SAPHETHANLST.TotalPage; i++)
                                                {
                                                    <li class="page-item">
                                                        <a class="page-link" onclick="getData('SAPHETHAN',@i,10)" href="javascript:void(0)">@i </a>
                                                    </li>
                                                }
                                            }
                                            <li class="page-item">
                                                <a href="javascript:void(0)" class="page-link" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="modal-footer center">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>




<script>
    var lstDataConHan = @listAntenConHan;
    var lstDataSapHetHan = @listAntenSapHetHan;
    var lstDataHetHan = @listAntenHetHan;
    var listD = [lstDataConHan, lstDataHetHan, lstDataSapHetHan]
    var moduleSelectorList = ["#conhan-list","#hethan-list","#saphethan-list"];
    function pageListData(typeItem, listdata) {
        listdata.ListItem.map((item) => {
            var datehethan = parseDateFromASPNetJSON(item.NgayHetHan);
            var currentDate = new Date();
            var dayDiff = Math.abs(Math.floor((datehethan - currentDate) / (1000 * 60 * 60 * 24))) + 1;
            var htmlStr = `
                <tr>
                    <td>${item.MaTram_TenTram}</td>
                    <td>${item.TenHuyen}</td>
                    <td>${item.TenXa}</td>
                    <td>${item.CongNghePhatSong}</td>
                    <td>${dayDiff} ngày</td>
                    <td>${item.TrangThaiHoatDong}</td>
                </tr>
            `
            $(typeItem).find('tbody').append(htmlStr)
        })
    }
    listD.forEach((item, index) => {
        pageListData(moduleSelectorList[index],item);
    })
    function parseDateFromASPNetJSON(dateString) {
        // Trích xuất phần số từ chuỗi
        var milliseconds = parseInt(dateString.replace("/Date(", "").replace(")/", ""));
        // Tạo đối tượng Date từ số milliseconds
        var date = new Date(milliseconds);
        return date;
    }
    function getData(typeSearch, pageIndex, pageSize) {

        $.ajax({
            url: '/QLCanhBao/CanhBao/getTrambtsByPage',
            type: 'POST',
            data: {
                typePage: typeSearch,
                pageIndex: pageIndex,
                pageSize: pageSize
            },
            success: function (rs) {
                pageListData(typeSearch, rs)
            },
            error: function (xhr) {
                NotiError("Có lỗi");
            }
        })
    }
</script>


@Scripts.Render("~/bundles/jqueryval")
