.tooltip-search-header {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
    border-radius: 8px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
}

    .tooltip-search-header .suggest-item {
        padding: 8px 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

        .tooltip-search-header .suggest-item:hover {
            background-color: #f2f2f2;
        }
