@model Hinet.Web.Models.ResultRequestPageSuccessVM
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Đổi mật khẩu người dùng thành công";
    //ViewBag.PageName = "Danh sách người dùng";
}
<div class="row">
    <div class="col-sm-12 center">
        <h3>Bạn đã thực hiện đổi mật khẩu thành công.</h3>
        <h4>Vui lòng đăng xuất khỏi hệ thống và đăng nhập lại để hoàn tất cập nhật.</h4>
    </div>
</div>