@using Hinet.Service.Constant
@using Hinet.Service.Common

<ul class="nav ace-nav">
    @using Microsoft.AspNet.Identity
    @using Hinet.Service.AppUserService.Dto
    @{ var currentUser = (UserDto)SessionManager.GetUserInfo(); }
    @if (currentUser != null)
    {

    <li class="light-blue dropdown-modal">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle" style="height: 60%!important;">
            <img class="nav-user-photo" src="/@currentUser.Avatar" onerror="this.src = '/assets/images/avatars/userNew.png'" alt="@currentUser.FullName" />
            <span class="user-info">
                <small>Xin chào,</small>
                @currentUser.FullName
            </span>

            <i class="ace-icon fa fa-caret-down"></i>
        </a>

        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-primary dropdown-caret dropdown-close">
            <li>
                <a href="/AccountAdmin/ChangePassword">
                    <i class="ace-icon fa fa-lock"></i>
                    Đổi mật khẩu
                </a>
            </li>

            <li>
                <a href="/UserArea/User/MyProfile">
                    <i class="ace-icon fa fa-user"></i>
                    Trang cá nhân
                </a>
            </li>
            <li class="divider"></li>

            <li>

                <a href="/AccountAdmin/LogOff">
                    <i class="ace-icon fa fa-power-off"></i>
                    Đăng xuất
                </a>
            </li>
        </ul>
    </li>
    }
    else
    {
    <li class="light-blue dropdown-modal">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle" style="height:60%">
            <img class="nav-user-photo" src="/assets/images/avatars/userNew.png" alt="default user avatar" />
            <span class="user-info">
                <small>Chưa đăng nhập</small>
            </span>
            <i class="ace-icon fa fa-caret-down"></i>
        </a>
        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-primary dropdown-caret dropdown-close">
            <li>
                <a href="/AccountAdmin/Login">
                    <i class="ace-icon fa fa-lock"></i>
                    Đăng nhập
                </a>
            </li>
            <li>
                <a href="/AccountAdmin/ForgotPassword">
                    <i class="ace-icon fa fa-user"></i>
                    Quên mật khẩu
                </a>
            </li>
            <li class="divider"></li>
        </ul>
    </li>
    }
</ul>