@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot') format('embedded-opentype'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.modal-document .txt-number {
    text-align: right;
}

.modal-document input {
    border-radius: 0 !important;
    border: 1px solid #000;
}

.modal-document .table_component.table-excel td.no-border,
.modal-document .table_component.table-excel td .cell-value,
.no-border {
    border: none !important;
}

.font-weight-bold {
    font-weight: bold;
}

.table-excel input.checkbox-x {
    position: relative;
    border: none;
    outline: none;
    height: 20px !important;
    margin: 4px 0;
}

    .table-excel input.checkbox-x:after {
        font-family: 'icomoon';
        content: '\e5cd';
        font-size: 20px;
        color: #000;
        font-weight: 600;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 2px;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.table-excel input:checked.checkbox-x:after {
    display: block;
}

.modal-document .baocao-header {
    font-size: large;
}

.modal-document .row1 {
    margin-bottom: 30px;
}

.italic-text {
    font-style: italic;
}

.no-border {
    border: none;
}

.w30 {
    width: 30px;
}

.p0_10 {
    padding: 0px 10px;
}

.cell-value {
    text-align: right;
    padding: 0px 5px;
    border: 1px solid;
}

.form-control.cell-value {
    line-height: 30px;
}

.pdr-20 {
    padding-right: 20px;
}

.pdr-200 {
    padding-right: 200px;
}

.modal-document input[type=text] {
    text-align: right;
}

.modal-document .excel-cell-disabled input {
    border-color: #D5D5D5 !important;
}

.modal-document table tr td textarea {
    width: 100%;
}

.modal-document table {
    margin-bottom: 10px;
}

    .modal-document table tr td {
        text-align: center;
    }

    .modal-document table tr td.cell-value {
        text-align: right;
    }

    .modal-document table tr td.no-border {
        text-align: left !important;
        min-width: 80px;
    }

.modal-document input.w80 {
    width: 80px;
    font-size: 14px !important;
    font-weight: bold;
}

.modal-document .select2 .select2-selection {
    border: 1px solid #333 !important;
    border-radius: 0px !important;
}

.modal-document input:focus {
    border: 2px solid forestgreen;
}

.modal-document .sub-title,
.modal-document .div-item-title {
    font-weight: bold;
    text-align: left;
}

.p30 {
    padding-left: 30px;
}