<div class="footer-default media-web" id="footer">
    <div class="footer-default media-web" id="footer">
        <div class="c-container container">
            <div class="c-pl-lg-0 c-pr-lg-0 mobile-default-footer row">
                <div class="c-pt-32 footer-default-body-row footer-default-col">
                    <div class="col-auto left-right media-footer-order-one text-left">
                        <div class="footer-default-body-row marginauto row">
                            <div class="col-md-12 footer-default-body-col left-right">
                                <p style="text-align: center">
                                    <img alt="Shopacc79.com - Shop bán acc Liên Quân - Free Fire - Roblox GIÁ RẺ - UY TÍN - CHẤT LƯỢNG"
                                         class="lazy"
                                         height="103"
                                         src="./SHOPACC79.COM - Shop Acc Game Uy Tín, Giá Rẻ, Chất Lượng Hàng Đầu_files/logo-150k-f1f(1).gif"
                                         style="background-image: unset"
                                         width="353" />
                                </p>
                            </div>
                        </div>

                        <div class="col-md-14 footer-default-body-col left-right">
                            <span style="font-size: 13.3333px">
                                Shopacc79.com&nbsp;- Shop Nick Roblox Chất Lượng - Giá Rẻ -
                                Uy Tín
                            </span>
                        </div>
                    </div>
                </div>

                <div class="c-pl-16 c-pr-16 footer-default-col footer-default-information">
                    <div class="c-pb-16 c-pt-22 col-md-12 left-right">
                        <h4>THÔNG TIN CHUNG</h4>
                    </div>

                    <div class="col-md-12 footer-default-two left-right">
                        <ul>
                            <li>
                                <span style="font-size: 16px">
                                    <a href="https://shopacc79.com/blog/su-kien-khuyen-mai-soc-chao-he-tai-shoptocxanh-com-vong-quay-quan-huy-kim-cuong-mien-phi"
                                       rel="follow"
                                       target="_blank">Về chúng tôi</a>
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 16px">
                                    <a href="https://shopacc79.com/blog/chinh-sach-bao-hanh-va-doi-tra"
                                       rel="nofollow"
                                       target="_blank">Chính sách bảo mật</a>
                                </span><a href="https://shopacc79.com/blog/chinh-sach-bao-hanh-va-doi-tra"
                                          rel="nofollow"
                                          target="_blank"><span style="font-size: 16px">&nbsp;và đổi trả</span></a>
                            </li>
                            <li>
                                <span style="font-size: 16px">
                                    <a href="https://shopacc79.com/"
                                       rel="follow"
                                       target="_blank">Ðiều khoản sử dụng</a>
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 16px">
                                    <a href="https://www.youtube.com/watch?v=p7pz5Nybakk&amp;t=9s"
                                       rel="follow"
                                       target="_blank">Hướng dẫn nạp tiền vào web</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="c-pl-16 c-pr-16 footer-default-col footer-default-information">
                    <div class="c-pb-16 c-pt-22 col-md-12 left-right">
                        <h4>SẢN PHẨM</h4>
                    </div>

                    <div class="col-md-12 footer-default-two left-right">
                        <ul>
                            <li>
                                <span style="font-size: 14px">
                                    <a href="https://shopacc79.com/mua-acc/nick-lien-quan"
                                       rel="nofollow"
                                       target="_blank">Nick Liên Quân Giá Rẻ</a>
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 14px">
                                    <a href="https://shopacc79.com/mua-acc/nick-free-fire"
                                       rel="nofollow"
                                       target="_blank">Nick FreeFire Giá Rẻ</a>
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 14px">
                                    <a href="https://shopacc79.com/mua-acc/ban-nick-pubg-mobile"
                                       rel="nofollow"
                                       target="_blank">Nick Pubg Giá Rẻ</a>
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 14px">
                                    <a href="https://shopacc79.com/mua-acc/acc-roblox-tu-chon"
                                       rel="nofollow"
                                       target="_blank">Nick Roblox Giá Rẻ</a>
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 14px">
                                    <a href="https://shopacc79.com/minigame-vong-quay-quan-huy-kim-cuong-free"
                                       rel="nofollow"
                                       target="_blank">Vòng Quay Kim Cương, Quân Huy Miễn Phí</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="c-pl-16 footer-default-col footer-default-information">
                    <div class="c-pb-16 c-pt-22 col-md-12 left-right">
                        <h4>HỖ TRỢ KHÁCH HÀNG</h4>
                    </div>

                    <div class="col-md-12 left-right">
                        <ul>
                            <li>
                                <img alt=""
                                     src="./SHOPACC79.COM - Shop Acc Game Uy Tín, Giá Rẻ, Chất Lượng Hàng Đầu_files/phone.svg" />
                                <span style="font-size: 16px">
                                    Chăm sóc hàng:<a href="https://www.facebook.com/shopacc79/"
                                                     rel="nofollow"
                                                     target="_blank">
                                        CSKH Shopacc79
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 16px">
                                    <img alt=""
                                         src="./SHOPACC79.COM - Shop Acc Game Uy Tín, Giá Rẻ, Chất Lượng Hàng Đầu_files/facebook(1).svg" />
                                    Facebook fanpage
                                    <a href="https://www.facebook.com/shoptocxanh/"
                                       rel="nofollow"
                                       target="_blank">CSKH&nbsp;</a><a href="https://www.facebook.com/shopacc79/"
                                                                        rel="nofollow"
                                                                        target="_blank">Shopacc79</a>
                                </span>
                            </li>
                        </ul>

                        <div id="c-fb-page">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="menu-bottom-tabs" class="tabs">
    <ul class="d-flex justify-content-between px-0 c-mb-8 flex-grow-1 flex-shrink-0">
        <li class="menu-bottom-item px-0 is-active is-active">
            <a href="https://shopacc79.com/"
               class="d-flex justify-content-center c-p-5 fz-13 fw-400 flex-column align-items-center">
                <span class="menu-bottom_icon c-pt-6 c-pb-2 text-center c-mb-4 brs-24">
                    <i class="__icon__profile --sm__profile --link__profile"
                       style="
                  --path: url(/assets/frontend/theme_5/image/nam/menu-bottom-home_active.svg);
                "></i>
                </span>

                <span class="menu-bottom_text fz-12">Home</span>
            </a>
        </li>
        <li class="menu-bottom-item px-0">
            <a href="https://shopacc79.com/service-mobile"
               class="d-flex justify-content-center c-p-5 fz-13 fw-400 flex-column align-items-center">
                <span class="menu-bottom_icon c-pt-6 c-pb-2 text-center c-mb-4 brs-24">
                    <i class="__icon__profile --sm__profile --link__profile"
                       style="
                  --path: url(/assets/frontend/theme_5/image/nam/menu-bottom-service.svg);
                "></i>
                </span>

                <span class="menu-bottom_text fz-12">Dịch vụ</span>
            </a>
        </li>
        <li class="menu-bottom-item px-0">
            <a href="javascript:void(0);"
               onclick="openLoginModal();"
               class="d-flex justify-content-center c-p-5 fz-13 fw-400 flex-column align-items-center">
                <span class="menu-bottom_icon c-pt-6 c-pb-2 text-center c-mb-4 brs-24">
                    <i class="__icon__profile --sm__profile --link__profile"
                       style="
                  --path: url(/assets/frontend/theme_5/image/nam/menu-bottom-charge.svg);
                "></i>
                </span>

                <span class="menu-bottom_text fz-12">Nạp tiền</span>
            </a>
        </li>
        <li class="menu-bottom-item px-0">
            <a href="https://shopacc79.com/minigame"
               class="d-flex justify-content-center c-p-5 fz-13 fw-400 flex-column align-items-center">
                <span class="menu-bottom_icon c-pt-6 c-pb-2 text-center c-mb-4 brs-24">
                    <i class="__icon__profile --sm__profile --link__profile"
                       style="
                  --path: url(/assets/frontend/theme_5/image/nam/menu-bottom-minigame.svg);
                "></i>
                </span>

                <span class="menu-bottom_text fz-12">Mini Game</span>
            </a>
        </li>
        <li class="menu-bottom-item px-0">
            <a href="https://shopacc79.com/profile"
               class="d-flex justify-content-center c-p-5 fz-13 fw-400 flex-column align-items-center">
                <span class="menu-bottom_icon c-pt-6 c-pb-2 text-center c-mb-4 brs-24">
                    <i class="__icon__profile --sm__profile --link__profile"
                       style="
                  --path: url(/assets/frontend/theme_5/image/nam/menu-bottom-profile.svg);
                "></i>
                </span>

                <span class="menu-bottom_text fz-12">Tài khoản</span>
            </a>
        </li>
    </ul>
</div>
