@using Hinet
@using Hinet.Web.Areas.DashboardArea.Models
@using Hinet.Service.Common
@using Hinet.Service.Constant
@using Newtonsoft.Json
@using Hinet.Web.Core
@using CommonHelper.String
@using Hinet.Service.AppUserService.Dto
@using Hinet.Model.Entities

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleCode = "DashboardAdmin_Index";
    ViewBag.ModuleName = "Dashboard";
    ViewBag.PageName = "Báo cáo thống kê";
}


<div>
    Trang dashboard
</div>