@{
    var departmentList = new List<SelectListItem>();
    departmentList.Add(new SelectListItem
    {
        Text = "--Chọn phòng, ban, đơn vị--",
        Value = string.Empty
    });
    departmentList.AddRange(ViewBag.DepartmentList);
}

<style>
    .row-block {
        margin: 5px 0px;
    }

    .txt-label {
        padding-top: 7px;
        text-align: right;
    }

    .width100 {
        width: 100% !important;
    }
</style>
<div id="collapseDiv" class="panel-collapse collapse" aria-expanded="false" role="tabpanel">
    <div class="well SearchBox">

        @using (Ajax.BeginForm("searchData", "User", new { Area = "UserArea" },
            new AjaxOptions()
            {
                HttpMethod = "POST",
                OnFailure = "AjaxFormError",
                OnSuccess = "AjaxSearchSuccess",
            }, new { }))
        {
        @Html.AntiForgeryToken()
        <div class="row row-block">
            <div class="col-md-6 row-block">

                <div class="col-md-4 txt-label">Họ tên</div>
                <div class="col-md-8">
                    <input class="form-control width100" type="text" name="FullNameFilter" />
                </div>
            </div>
            <div class="col-md-6 row-block">

                <div class="col-md-4 txt-label">Tài khoản</div>
                <div class="col-md-8">
                    <input class="form-control width100" type="text" name="UserNameFilter" />
                </div>
            </div>
            <div class="col-md-6 row-block">

                <div class="col-md-4 txt-label">Email</div>
                <div class="col-md-8">
                    <input class="form-control width100" type="text" name="EmailFilter" />
                </div>
            </div>
            <div class="col-md-6 row-block">

                <div class="col-md-4 txt-label">Địa chỉ</div>
                <div class="col-md-8">
                    <input class="form-control width100" type="text" name="AddressFilter" />
                </div>
            </div>
            @*<div class="col-md-6 row-block">
                <div class="col-md-4 txt-label">Phòng, ban, đơn vị</div>
                <div class="col-md-8">
                    @Html.DropDownList("DepartmentIdFilter", departmentList, new { @class = "form-control width100" })
                </div>
            </div>*@

            @*<div class="col-md-6 row-block">

                    <div class="col-md-4 txt-label">Cộng tác viên/Phóng viên/Trưởng phòng</div>
                    <div class="col-md-8">
                        <select class="form-control" name="IsCongTacVienFilter">
                            <option value="All">Tất cả</option>
                            <option value="CTV">Cộng tác viên</option>
                            <option value="PV">Phóng viên</option>
                            <option value="TP">Trưởng phòng</option>
                        </select>
                    </div>
                </div>*@

            <div class="col-md-12 center" style=" margin-top:20px;">
                <button id="btnSearch" type="submit" class="btn btn-labeled btn-primary btn-sm">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                    Tìm kiếm
                </button>
                <a href="/UserArea/User/ExportExcel" class="btn btn-labeled btn-success btn-sm"><span class='btn-label'><i class='glyphicon glyphicon-download'></i></span> Xuất Excel</a>
                <a aria-expanded="false" href="#collapseDiv" data-toggle="collapse" role="button" class="btn btn-labeled btn-danger btn-sm">
                    <span class="btn-label"><i class="bi bi-x-lg"></i></span>
                    Đóng
                </a>
            </div>
        </div>

        }
    </div>
</div>
<script>
	$("#DepartmentIdFilter").select2();
</script>