@using Hinet.Model.IdentityEntities
@using Hinet.Web.Areas.UserArea.Models

@using Hinet.Service.ModuleService.DTO
@model List<ModuleDTO>
@{
    Layout = "";
}

<div class="modal-dialog" id="demo">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="center">
                <h4 class="modal-title">Danh sách quyền của người dùng</h4>
            </div>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <table class="table-info" style="width:100%">
                    @{int t = 0; }
                    @foreach (var module in Model.OrderBy(x => x.Order).ToList())
                    {
                        foreach (var operation in module.GroupOperations)
                        {
                            if (operation.IsAccess)
                            {
                                <tr><td style="width:150px">@operation.Name</td></tr>
                                t++;
                            }

                        }
                    }
                    @if (t == 0)
                    {
                        <tr><td style="width:150px">Người dùng không có quyền cá nhân nào</td></tr>
                    }
                </table>
            </div>
        </div>
        <div class="modal-footer center">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>