

.img-detailObjClick img {
    width: 100%;
    height: auto;
}

.title-detailObjClick {
    border-bottom: 0.5px solid grey;
    padding: 0px 15px;
}

.content-detailObjClick {
    padding: 10px 15px;
    border-bottom: 0.5px solid grey;
}

.box-detailObjClick {
    overflow-y: scroll; 
    max-height: 100%;
}

.footer-detailObjClick {
    padding: 10px 15px;
}

.useful {
    font-style: italic;
    color: #00b9cb;
    text-decoration: underline;
    cursor: pointer;
}