@media (max-width: 480px) {
    .box-data-left ul li {
        width: 97%;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    body {
        width: 100%;
        float: left;
        max-width: 100%;
    }

    .header {
        height: auto;
    }

    .head-left, .head-right {
        width: 100%;
    }

        .head-left h3 {
            font-size: 16px;
        }

        .head-right h3 {
            font-size: 17px;
        }

    #header-desktop {
        display: none;
    }

    #header-mobile {
        display: block;
        position: fixed;
        z-index: 999;
        width: 100%;
        float: left;
    }

    .box-data-left {
        width: 100%;
        float: left;
    }

    .box-search {
        color: white;
        float: left;
        background: #990000;
        width: calc(100% - 25px);
        margin-left: 15px;
    }

    .input-search {
        border: 1px solid red;
        padding: 10px;
        width: 100%;
        background: url(/Content/images/icon-search.png);
        background-repeat: no-repeat;
        color: white;
        padding-left: 35px;
        background-position-x: 10px;
        background-position-y: 10px;
        font-style: italic;
        height: 37px;
        font-family: RobotoCondensed-Regular;
    }

    .box-content {
        margin-top: 10px;
    }

    .header-title {
        float: left;
        margin: 5px 12px;
        color: white;
    }

        .header-title h3 {
            margin: 0;
            font-size: 17px;
            text-align: center;
            line-height: 28px;
        }

    .button-menu {
        width: 50px;
        float: left;
        background: black;
        text-align: center;
        height: 66px;
    }

    .box-header-left {
        width: 100%;
    }

    .box-header-right {
        width: 100%;
        display: block;
    }

        .box-header-right select {
            min-width: 150px;
            margin: 3px 5px;
        }

        .box-header-right button {
            width: 150px;
            margin: 3px 5px;
            height: 32px;
        }

    .box-data-left ul li {
        width: 100%;
        padding: 10px;
    }

    .title-bieudo {
        margin-top: 20px;
        float: left;
        width: 100%;
        padding: 0 10px;
        text-align: center;
        line-height: 30px;
    }

    .box-data-right {
        float: left;
        width: 100%;
        padding: 0 2px;
        min-height: unset;
    }

    .box-header {
        height: auto;
    }

    .body-content {
        padding: 0;
    }

    .box-header-right {
        width: 100%;
    }

    footer {
        height: auto;
    }

    .footer-left {
        width: 100%;
        padding: 0;
    }

    .footer-right {
        width: 100%;
    }

    .left50, .right50 {
        padding: 0;
    }

    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
    }

    .wrapper {
        display: flex;
        align-items: stretch;
    }

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        min-height: 100vh;
    }

        #sidebar.active {
            margin-left: -250px;
            display: block;
        }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    .box-info {
        width: 100%;
        float: left;
        background: #990000;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

        .box-info img {
            float: left;
            padding: 5px;
        }

        .box-info a {
            float: left;
            color: white;
            font-size: 14px;
            padding-left: 10px;
        }

    .header-banner {
        margin-top: 66px;
    }

    #sidebar {
        /* don't forget to add all the previously mentioned styles here too */
        background: #7386D5;
        color: #fff;
        transition: all 0.3s;
    }

        #sidebar .sidebar-header {
            padding: 20px;
            background: #6d7fcc;
        }

        #sidebar ul.components {
            padding: 20px 0;
            border-bottom: 1px solid #47748b;
        }

        #sidebar ul p {
            color: #fff;
            padding: 10px;
        }

        #sidebar ul li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
        }

            #sidebar ul li a:hover {
                color: #7386D5;
                background: #fff;
            }

        #sidebar ul li.active > a, a[aria-expanded="true"] {
            color: #fff;
            background: #6d7fcc;
        }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }
}