@using Hinet.Service.Common
@using Hinet.Service.AppUserService.Dto;

@model List<UserDto>

<li class="dropdown-modal">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle icon-quickLogin icon-noti">
        <i class="fa fa-group"></i>
    </a>
    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-primary dropdown-caret dropdown-close MuiList-root">
        <li class="MuiStack-root">
            <input type="text" name="userNameQuickLogin" value="" class="form-control" />
        </li>
        <li class="p-0">
            <hr class="MuiDivider-root MuiDivider-fullWidth">
        </li>
        <li class="dropdown-content" style="position: relative;">
            @if (Model.Any() && Model.Count() > 0)
            {
                <div class="simplebar-scrollable-y MuiBox-root" data-simplebar="init" style=" height: 100%; max-height: 350px; overflow-y:auto">
                    @foreach (var item in Model)
                    {
                        <a href="/AccountAdmin/QuickLogin?userName=@item.UserName" data-username="@item.UserName+@item.RoleTxt"
                           class="MuiButtonBase-root MuiMenuItem-root MuiMenuItem-gutters MuiMenuItem-root MuiMenuItem-gutters">
                            <div class="pull-left w-100 d-flex gap-1">
                                <div class=" icon-noti icon-xs ">
                                    <i class="fa fa-user" style="flex-shrink: 0;"></i>
                                </div>                                       
                                <div class="w-100">
                                    <span class="icon-text text-truncate-2">@item.FullName</span>
                                    <small class="icon-text text-truncate-1 red">
                                        Role: @item.RoleTxt
                                    </small>
                                    @*<small class="pull-right text-danger">
                                        @item.UserName/12345678
                                    </small>*@
                                </div>
                            </div>
                        </a>
                    }
                </div>
            }
        </li>

    </ul>
</li>

<script>
    var inputFormQuickLogin = $("input[name='userNameQuickLogin']");

    $(".icon-quickLogin").click(function (e) {
        inputFormQuickLogin.focus();
    });

    inputFormQuickLogin.on('input', function () {
        var val = generate_slugable($(this).val());
        $("ul.user-menu .dropdown-content a").each(function () {
            var userName = generate_slugable($(this).data('username'));
            if (userName.includes(val)) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });
</script>
