<div class="content" style="">
    <div class="container c-container" id="account-category">
        <ul class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a href="/" class="breadcrumb-link">Trang chủ</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/dich-vu" class="breadcrumb-link">Dịch vụ</a>
            </li>
        </ul>
        <div class="head-mobile">
            <a href="/service-mobile" class="link-back"></a>

            <h1 class="head-title text-title">Dịch vụ</h1>

            <a href="/viewed">
                <img src="/assets/frontend/theme_5/image/DA-XEM.png" alt="" style="position: absolute;top: 16px;right: 16px;width:30px; height: 30px">
            </a>
        </div>

        <div class="banner-slide swiper-general c-mt-lg-0">
            <div class="swiper swiper-banner brs-12 swiper-container-horizontal" style="cursor: grab;">
                <div class="swiper-wrapper" style="transition-duration: 0ms;">
                </div>

                <div class="navigation slider-next "></div>
                <div class="navigation slider-prev "></div>
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></div>
        </div>




        <section class="listing-service c-mt-16 c-mt-lg-0">
            <div class="section-header justify-content-between c-pb-20 c-pb-lg-0">
                <h2 class="section-title fw-700 fz-20 lh-28 ">Danh sách dịch vụ</h2>

            </div>
            <hr>
            <div class="text-title fw-700 c-py-16 c-py-lg-8 c-mb-lg-8">
                Chọn dịch vụ
            </div>

            <div class="list-service">
                <div class="item-service js-service">
                    <div class="card card-hover">
                        <a href="/dich-vu/mua-gamepass-blox-fruits" class="card-body scale-thumb c-p-16 c-p-lg-12">
                            <div class="account-thumb c-mb-8">
                                <img onerror="imgError(this)" src="//static2.mingame89.store/19426957-cdnimage/upload/images/mua%20gp%20rb(1).png" alt="mua-gamepass-blox-fruits" class="account-thumb-image">
                            </div>
                            <div class="account-title">
                                <div class="text-title fw-700 text-limit limit-1">Mua Gamepass Blox Fruits</div>
                            </div>
                            <div class="account-info">
                                <div class="info-attr">
                                    Giao dịch: 2.634


                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item-service js-service">
                    <div class="card card-hover">
                        <a href="/dich-vu/robux-5-ngay-120h" class="card-body scale-thumb c-p-16 c-p-lg-12">
                            <div class="account-thumb c-mb-8">
                                <img onerror="imgError(this)" src="https://static2.mingame89.store/19426957-cdnimage/upload/fastcdn/service-config-S3hJa2VCVUo2ZytyazMvSFREMGw3QT09/images/image_29.png" alt="robux-5-ngay-120h" class="account-thumb-image">
                            </div>
                            <div class="account-title">
                                <div class="text-title fw-700 text-limit limit-1">Robux 5 Ngày (120h)</div>
                            </div>
                            <div class="account-info">
                                <div class="info-attr">
                                    Giao dịch: 417.580


                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item-service js-service">
                    <div class="card card-hover">
                        <a href="/dich-vu/ban-trai-ac-quy-ruong" class="card-body scale-thumb c-p-16 c-p-lg-12">
                            <div class="account-thumb c-mb-8">
                                <img onerror="imgError(this)" src="//static2.mingame89.store/19426957-cdnimage/upload/images/ban%20trai%20ruoq.png" alt="ban-trai-ac-quy-ruong" class="account-thumb-image">
                            </div>
                            <div class="account-title">
                                <div class="text-title fw-700 text-limit limit-1">Bán Trái Ác Quỷ Rương</div>
                            </div>
                            <div class="account-info">
                                <div class="info-attr">
                                    Giao dịch: 23.342


                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item-service js-service">
                    <div class="card card-hover">
                        <a href="/dich-vu/ban-robux-chinh-hang" class="card-body scale-thumb c-p-16 c-p-lg-12">
                            <div class="account-thumb c-mb-8">
                                <img onerror="imgError(this)" src="https://static2.mingame89.store/19426957-cdnimage/upload/fastcdn/service-config-S3hJa2VCVUo2ZytyazMvSFREMGw3QT09/images/image_30.png" alt="ban-robux-chinh-hang" class="account-thumb-image">
                            </div>
                            <div class="account-title">
                                <div class="text-title fw-700 text-limit limit-1">Bán Robux Chính Hãng</div>
                            </div>
                            <div class="account-info">
                                <div class="info-attr">
                                    Giao dịch: 347.375


                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>


    </div>


    <div class="modal fade modal-big modal__buyacount loadModal__acount_home" id="LoadModalHome">
        <div class="modal-dialog modal-dialog-centered modal-custom">
            <div class="modal-content c-p-24 data__form__random_home">
            </div>
        </div>
    </div>
    <div class="modal fade modal-small" id="notBuyHome">
        <div class="modal-dialog modal-dialog-centered modal-custom">
            <div class="modal-content">
                <div class="modal-header justify-content-center p-0">
                    <img class="c-pt-16 c-pb-16" src="/assets/frontend/theme_5/image/son/thatbai.png" alt="">
                </div>
                <div class="modal-body text-center c-pl-24 c-pr-24 pt-0 pb-0">
                    <p class="fw-700 fz-15 c-mt-12 mb-0 text-title-theme">Mua thẻ nick thất bại</p>
                    <p class="fw-400 fz-13 c-mt-10 mb-0">
                        Rất tiếc việc mua nick đã thất bại do tài khoản của
                        bạn không đủ, vui lòng nạp tiền để tiếp tục giao dịch!
                    </p>
                </div>
                <div class="modal-footer c-p-24">
                    <button class="btn primary handle-recharge-modal" data-tab="1" data-dismiss="modal">
                        Nạp
                        tiền
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade modal-big" id="rechargeModal" style="overflow: hidden auto;">

        <div class="modal-dialog modal-dialog-centered modal-custom">
            <div class="modal-content p-0">
                <div class="modal-header c-pl-24 c-pr-24 c-pt-24 c-pb-16" style="border-bottom: 1px solid #E4E5F0">
                    <p class="modal-title center">Nạp tiền</p>
                    <button type="button" class="close" data-dismiss="modal" style="right: 24px;top: 36px"></button>
                </div>
                <div class="modal-body pl-0 pr-0 c-pt-0 c-pb-24">
                    <section class="section-category-tab">
                        <div class="c-mb-16 c-mb-lg-16">
                            <ul class="nav nav-tabs size-auto" role="tablist" style="width: 100%;margin: 0 auto">
                                <li class="nav-item" role="presentation">
                                    <a class="tab active" data-toggle="tab" href="#charge_card_modal" role="tab" aria-selected="true">Nạp thẻ cào</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="tab" data-toggle="tab" href="#atm_card_modal" role="tab" aria-selected="false">ATM tự động</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content c-px-24 c-px-lg-16">
                            <div class="tab-pane fade show active" id="charge_card_modal" role="tabpanel">
                                <form class="w-100" action="" id="chargeCardModalForm">
                                    <div class="row content-block">
                                        <div class="col-12 c-pr-8">
                                            <div class="money-form-group c-mb-16">
                                                <label class="text-form fz-13 fw-500 c-mb-4">Nhà cung cấp</label>
                                                <div class="col-md-12 p-0">
                                                    <select class="select-form w-100" name="type" id="telecom_modal" style="display: none;">
                                                        <option value="VIETTEL">VIETTEL</option>
                                                        <option value="MOBIFONE">MOBIFONE</option>
                                                        <option value="VINAPHONE">VINAPHONE</option>
                                                        <option value="GARENA">GARENA</option>
                                                        <option value="ZING">ZING</option>
                                                    </select><div class="nice-select select-form w-100" tabindex="0"><span class="current">VIETTEL</span><ul class="list"><li data-value="VIETTEL" class="option selected">VIETTEL</li><li data-value="MOBIFONE" class="option">MOBIFONE</li><li data-value="VINAPHONE" class="option">VINAPHONE</li><li data-value="GARENA" class="option">GARENA</li><li data-value="ZING" class="option">ZING</li></ul></div>
                                                </div>
                                            </div>
                                            <div class="money-form-group c-mb-12">
                                                <label class="text-form fz-13 fw-500 c-mb-8">Chọn mệnh giá</label>
                                                <div class="col-md-12 p-0">
                                                    <div class="row m-0 c-mx-n4" id="cardAmountModal">
                                                        <div class="col-4 c-px-4 money-radio-form my-auto">
                                                            <input name="amount" type="radio" id="recharge_amount_modal_0" data-ratio="100.0" value="10000" hidden="">
                                                            <label for="recharge_amount_modal_0" class="c-py-16 c-px-8 c-mb-8 brs-8 p_recharge_amount">
                                                                <p class="fw-500 fs-15 mb-0">10,000</p>
                                                                <p class="fw-500 fs-15 mb-0" style="color: #82869E;font-size: 12px"> Nhận 100%</p>
                                                                <span class="fw-500 fz-11 mb-0 promotion_lock_charge promotion_lock_charge_8211_47813"></span>

                                                            </label>
                                                        </div>
                                                        <div class="col-4 c-px-4 money-radio-form my-auto">
                                                            <input name="amount" type="radio" class="amount_promotion_8211_47814" id="recharge_amount_modal_1" data-ratio="100.0" value="20000" hidden="">
                                                            <label for="recharge_amount_modal_1" class="c-py-16 c-px-8 c-mb-8 brs-8 p_recharge_amount">
                                                                <p class="fw-500 fs-15 mb-0">20,000</p>
                                                                <p class="fw-500 fs-15 mb-0" style="color: #82869E;font-size: 12px"> Nhận 100%</p>
                                                                <span class="fw-500 fz-11 mb-0 promotion_lock_charge promotion_lock_charge_8211_47814"></span>

                                                            </label>
                                                        </div>
                                                        <div class="col-4 c-px-4 money-radio-form my-auto">
                                                            <input name="amount" type="radio" class="amount_promotion_8211_47815" id="recharge_amount_modal_2" data-ratio="100.0" value="30000" hidden="">
                                                            <label for="recharge_amount_modal_2" class="c-py-16 c-px-8 c-mb-8 brs-8 p_recharge_amount">
                                                                <p class="fw-500 fs-15 mb-0">30,000</p>
                                                                <p class="fw-500 fs-15 mb-0" style="color: #82869E;font-size: 12px"> Nhận 100%</p>
                                                                <span class="fw-500 fz-11 mb-0 promotion_lock_charge promotion_lock_charge_8211_47815"></span>

                                                            </label>
                                                        </div>
                                                        <div class="col-4 c-px-4 money-radio-form my-auto">
                                                            <input name="amount" type="radio" class="amount_promotion_8211_47816" id="recharge_amount_modal_3" data-ratio="100.0" value="50000" hidden="">
                                                            <label for="recharge_amount_modal_3" class="c-py-16 c-px-8 c-mb-8 brs-8 p_recharge_amount">
                                                                <p class="fw-500 fs-15 mb-0">50,000</p>
                                                                <p class="fw-500 fs-15 mb-0" style="color: #82869E;font-size: 12px"> Nhận 100%</p>
                                                                <span class="fw-500 fz-11 mb-0 promotion_lock_charge promotion_lock_charge_8211_47816"></span>

                                                            </label>
                                                        </div>
                                                        <div class="col-4 c-px-4 money-radio-form my-auto">
                                                            <input name="amount" type="radio" class="amount_promotion_8211_47817" id="recharge_amount_modal_4" data-ratio="100.0" value="100000" hidden="">
                                                            <label for="recharge_amount_modal_4" class="c-py-16 c-px-8 c-mb-8 brs-8 p_recharge_amount">
                                                                <p class="fw-500 fs-15 mb-0">100,000</p>
                                                                <p class="fw-500 fs-15 mb-0" style="color: #82869E;font-size: 12px"> Nhận 100%</p>
                                                                <span class="fw-500 fz-11 mb-0 promotion_lock_charge promotion_lock_charge_8211_47817"></span>

                                                            </label>
                                                        </div>
                                                        <div class="col-4 c-px-4 money-radio-form my-auto">
                                                            <input name="amount" type="radio" class="amount_promotion_8211_47818" id="recharge_amount_modal_5" data-ratio="100.0" value="200000" hidden="">
                                                            <label for="recharge_amount_modal_5" class="c-py-16 c-px-8 c-mb-8 brs-8 p_recharge_amount">
                                                                <p class="fw-500 fs-15 mb-0">200,000</p>
                                                                <p class="fw-500 fs-15 mb-0" style="color: #82869E;font-size: 12px"> Nhận 100%</p>
                                                                <span class="fw-500 fz-11 mb-0 promotion_lock_charge promotion_lock_charge_8211_47818"></span>

                                                            </label>
                                                        </div>
                                                        <div class="col-4 c-px-4 money-radio-form my-auto">
                                                            <input name="amount" type="radio" class="amount_promotion_8211_47819" id="recharge_amount_modal_6" data-ratio="100.0" value="300000" hidden="">
                                                            <label for="recharge_amount_modal_6" class="c-py-16 c-px-8 c-mb-8 brs-8 p_recharge_amount">
                                                                <p class="fw-500 fs-15 mb-0">300,000</p>
                                                                <p class="fw-500 fs-15 mb-0" style="color: #82869E;font-size: 12px"> Nhận 100%</p>
                                                                <span class="fw-500 fz-11 mb-0 promotion_lock_charge promotion_lock_charge_8211_47819"></span>

                                                            </label>
                                                        </div>
                                                        <div class="col-4 c-px-4 money-radio-form my-auto">
                                                            <input name="amount" type="radio" class="amount_promotion_8211_47820" id="recharge_amount_modal_7" data-ratio="100.0" value="500000" hidden="">
                                                            <label for="recharge_amount_modal_7" class="c-py-16 c-px-8 c-mb-8 brs-8 p_recharge_amount">
                                                                <p class="fw-500 fs-15 mb-0">500,000</p>
                                                                <p class="fw-500 fs-15 mb-0" style="color: #82869E;font-size: 12px"> Nhận 100%</p>
                                                                <span class="fw-500 fz-11 mb-0 promotion_lock_charge promotion_lock_charge_8211_47820"></span>

                                                            </label>
                                                        </div>
                                                        <div class="col-4 c-px-4 money-radio-form my-auto">
                                                            <input name="amount" type="radio" class="amount_promotion_8211_47821" id="recharge_amount_modal_8" data-ratio="100.0" value="1000000" hidden="">
                                                            <label for="recharge_amount_modal_8" class="c-py-16 c-px-8 c-mb-8 brs-8 p_recharge_amount">
                                                                <p class="fw-500 fs-15 mb-0">1,000,000</p>
                                                                <p class="fw-500 fs-15 mb-0" style="color: #82869E;font-size: 12px"> Nhận 100%</p>
                                                                <span class="fw-500 fz-11 mb-0 promotion_lock_charge promotion_lock_charge_8211_47821"></span>

                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p style="margin-bottom: 8px;color: #DA4343;font-size: 13px">*Chú ý: Nạp thẻ sai mệnh giá mất 100% giá trị thẻ.</p>
                                            <div class="money-form-group c-mb-8">
                                                <label class="text-form fz-13 fw-500 c-mb-4 d-none d-lg-block">Mã số thẻ</label>
                                                <div class="col-md-12 p-0">
                                                    <div class="input-group">
                                                        <input class="input-form w-100" name="pin" type="text" placeholder="Nhập mã số thẻ của bạn">
                                                        <p class="text-error c-mb-0 c-mt-4"></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="money-form-group c-mb-8">
                                                <label class="text-form fz-13 fw-500 c-mb-4 d-none d-lg-block">Số sê-ri</label>
                                                <div class="col-md-12 p-0">
                                                    <div class="input-group">
                                                        <input class="input-form w-100" name="serial" type="text" placeholder="Nhập mã số sê-ri trên thẻ">
                                                        <p class="text-error c-mb-0 c-mt-4"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="money-form-group captchaShow">
                                                <label class="text-form fz-13 fw-500 c-mb-4 d-none d-lg-block">Mã bảo vệ</label>
                                                <div class="input-group">
                                                    <div class="col-md-12 p-0 d-flex">
                                                        <div style="flex: 1;">
                                                            <input class="input-form w-100" name="captcha" type="text" placeholder="Nhập mã bảo vệ ">
                                                        </div>
                                                        <div class="captcha c-mx-8">
                                                            <div>
                                                                <span class="capchaImage"><img src="https://shopacc79.com/captcha/default?jWWUOQOP"></span>
                                                            </div>
                                                        </div>
                                                        <button class=" brs-8" type="button" id="reloadModalCaptcha">
                                                            <img class="spinImg paused" src="/assets/frontend/theme_5/image/phu/captcha_refresh.png" alt="">
                                                        </button>
                                                    </div>
                                                    <p class="text-error c-mb-0 c-mt-4"></p>
                                                </div>
                                            </div>
                                            <div class="group-btn c-mt-24 d-flex">
                                                <button class="btn primary google_buy_charge" type="submit">Nạp ngay</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="atm_card_modal" role="tabpanel">

                                <div class="row content-block">
                                    <div class="col-12 col-lg-12">
                                        <div class="atm-recharge-right c-p-16 brs-8">
                                            <div class="atm-recharge-content c-p-sm-12 brs-sm-8">
                                                <p style="text-align:center"><span style="font-size:16px"><strong>*NẠP BẰNG ATM:</strong></span></p>

                                                <table align="center" border="1" cellpadding="1" cellspacing="1">
                                                    <tbody>
                                                        <tr>
                                                            <th colspan="2"><span style="font-size:22px">Tên chủ tài khoản: NGUYEN THI TRUC LY&nbsp;</span></th>
                                                            <th>&nbsp;</th>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <p style="text-align:center"><span style="font-size:22px"><strong>ACB</strong></span></p>
                                                            </td>
                                                            <th><span style="color:#e74c3c"><span style="font-size:18px"><strong>18235841</strong></span></span></th>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <p>&nbsp;</p>

                                                <p>&nbsp;</p>

                                                <p>&nbsp;</p>

                                                <p style="text-align:center"><span style="font-size:16px">Nếu sau 5 phút&nbsp;không được cộng tiền vui lòng&nbsp;liên hệ fanpage:&nbsp;<a href="https://www.facebook.com/ShopThayDong/" rel="nofollow" target="_blank"><u><strong>Chăm Sóc Khách Hàng</strong></u></a>&nbsp;hoặc Hotline<a href="https://zalo.me/0889151079" rel="nofollow" target="_blank">&nbsp;<strong>0889.151.079</strong></a>&nbsp;để được xử lý.</span></p>

                                                <p style="text-align:center"><span style="font-size:16px"><strong>*Chú Ý: Chuyển đúng cú pháp, sai nội dung bị chuyển qua ID khác shop không chịu trách nhiệm</strong></span></p>

                                                <p style="text-align:center"><span style="font-size:16px"><strong>NỘI DUNG CHUYỂN KHOẢN:</strong></span></p>
                                                <div class="atm-recharge-attr d-flex justify-content-between align-items-center">
                                                    <p class="fz-13 fw-400 mb-0 ">Nội dung chuyển khoản</p>
                                                    <div class="fz-13 fw-500 card__info" id="transactionContentModal">NAP WEB79 2926677</div>
                                                    <div class="icon--coppy js-copy-text" aria-describedby="tippy-7 tippy-1">
                                                        <img src="/assets/frontend/theme_5/image/icons/copy-black.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="text-center" style="margin-top: 30px">
                                                    <img id="transactionQrContent" src="https://img.vietqr.io/image/ACB-18235841-print.jpg?addInfo=NAP WEB79 2926677&amp;accountName=NGUYEN THI TRUC LY" alt="" style="max">

                                                </div>
                                                <style>
                                                    #transactionQrContent {
                                                        max-width: 100%;
                                                    }

                                                    @@media (min-width: 992px) {
                                                        #transactionQrContent {
                                                            height: 620px;
                                                        }
                                                    }
                                                </style>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="text" name="promotion_lock_charge" hidden="" data-count="0" value="">
                    </section>
                </div>

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('.copy-text-vouc').on('click', function () {
                let text_value = $(this).parent().find('.id-vou').html().trim();
                navigator.clipboard.writeText(text_value);
            });
            tippy('.copy-text-vouc', {
                // default
                trigger: 'click',
                content: "Đã copy !",
                placement: 'right',
            });
        })
    </script>


    <div class="modal fade modal-small" id="atmAutoNotifyModal">
        <div class="modal-dialog modal-dialog-centered modal-custom">
            <div class="modal-content">
                <div class="modal-header justify-content-center p-0">
                    <img class="c-pt-20 c-pb-20" src="/assets/frontend/theme_5/image/son/success.png" alt="">
                </div>
                <div class="modal-body text-center c-pl-24 c-pr-24 pt-0 pb-0">
                    <p class="fw-700 fz-15 fz-lg-15 fz-md-14 fz-sm-12 c-mt-12 mb-0 text-title-theme">Tạo lệnh nạp ATM thành công</p>
                    <p class="fw-400 fz-13 fz-lg-13 fz-md-12 fz-sm-11 c-mt-10 mb-0">
                        Sau khi chuyển khoản thành công hệ thống sẽ xử lí từ 2 giây tới 2 phút và cộng tiền vào tài khoản của bạn. Nếu sai thông tin hoặc xảy ra lỗi, vui lòng liên hệ fanpage/ hotline: 1900 8198 để được hỗ trợ.
                    </p>
                </div>
                <div class="modal-footer c-p-24">
                    <a class="btn secondary" href="/">Trang chủ</a>
                    <button class="btn primary" data-dismiss="modal">Nạp thêm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- handle bottom sheet -->
    <div class="bottom-sheet" id="sheet-atm-auto-notify" aria-hidden="true" data-height="60">
        <div class="layer"></div>
        <div class="content-bottom-sheet bar-slide">
            <div class="sheet-header">
                <p class="text-title center">
                    Tạo lệnh nạp thành công
                </p>
                <label for="check-bottom-sheet" class="close"></label>
            </div>
            <div class="sheet-body c-p-0">
                <!-- body -->
                <div class="sheet-img-notify-block c-py-20 d-flex justify-content-center">
                    <img class="" src="/assets/frontend/theme_5/image/son/success.png" alt="">
                </div>
                <div class="sheet-notify-detail c-pt-16 c-px-16" style="bottom: 0px;">
                    Sau khi chuyển khoản thành công hệ thống sẽ xử lí từ 2 giây tới 2 phút và cộng tiền vào tài khoản của bạn. Nếu sai thông tin hoặc xảy ra lỗi, vui lòng liên hệ fanpage/ hotline: 1900 8198 để được hỗ trợ.
                </div>
                <div class="sheet-footer c-pb-24">
                    <a href="/" class="btn secondary">Trang chủ</a>
                    <button class="btn primary">Nạp thêm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="step" id="chargeConfirmStep">
        <div class="head-mobile">
            <a href="javascript:void(0) " class="link-back close-step"></a>

            <p class="head-title text-title">Xác nhận thanh toán</p>

            <a href="/viewed">
                <img src="/assets/frontend/theme_5/image/DA-XEM.png" alt="" style="position: absolute;top: 16px;right: 16px;width:30px; height: 30px">
            </a>
        </div>
        <div class="body-mobile">
            <div class="body-mobile-content c-p-16">
                <div class="dialog--content__title fw-700 fz-15 c-mb-12 text-title-theme">
                    Thông tin nạp thẻ
                </div>
                <div class="card--gray c-mb-16 c-pt-8 c-pb-8 c-pl-12 c-pr-12 brs-8 g_mobile-content">
                    <div class="card--attr justify-content-between d-flex c-mb-8 text-center">
                        <div class="card--attr__name fw-400 fz-13 text-center text-order">
                            Nhà mạng
                        </div>
                        <div class="card--attr__value fz-13 fw-500" id="confirmTitleMobile"></div>
                    </div>
                    <div class="card--attr justify-content-between d-flex c-mb-8 text-center">
                        <div class="card--attr__name fw-400 fz-13 text-center text-order">
                            Mệnh giá
                        </div>
                        <div class="card--attr__value fz-13 fw-500" id="confirmPriceMobile"></div>
                    </div>
                    <div class="card--attr justify-content-between d-flex text-center">
                        <div class="card--attr__name fw-400 fz-13 text-center text-order">
                            Chiết khấu
                        </div>
                        <div class="card--attr__value fz-13 fw-500" id="confirmDiscountMobile"></div>
                    </div>
                    <div class="card--attr justify-content-between d-flex text-center">
                        <div class="card--attr__name fw-400 fz-13 text-center text-order">
                            Khuyến mại
                        </div>
                        <div class="card--attr__value fz-13 fw-500" id="confirmPromotionMobile"></div>
                    </div>
                </div>
                <div class="card--gray c-mb-16 c-pt-8 c-pb-8 c-pl-12 c-pr-12 brs-8 g_mobile-content">
                    <div class="card--attr justify-content-between d-flex text-center">
                        <div class="card--attr__name fw-400 fz-13 text-center text-order">
                            Phí thanh toán
                        </div>
                        <div class="card--attr__value fz-13 fw-500">
                            Miễn phí
                        </div>
                    </div>
                </div>
                <div class="card--gray c-mb-0 c-pt-8 c-pb-8 c-pl-12 brs-8 c-pr-12 g_mobile-content">
                    <div class="card--attr__total justify-content-between d-flex text-center">
                        <div class="card--attr__name fw-400 fz-13 text-center text-order">
                            Số tiền thực nhận
                        </div>
                        <div class="card--attr__value fz-13 fw-500"><a href="javascript:void(0)" class="c-text-primary" id="totalBillMobile"></a></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="footer-mobile v2">
            <div class="group-btn">
                <button class="btn primary google_buy_charge" id="confirmSubmitButtonMobile">Xác nhận</button>
            </div>
        </div>
    </div>


    <div class="modal fade modal-big" id="orderCharge">
        <div class="modal-dialog modal-dialog-centered modal-custom">
            <div class="modal-content c-p-24">
                <div class="modal-header">
                    <p class="modal-title center">Xác nhận thanh toán</p>
                    <button type="button" class="close" data-dismiss="modal"></button>
                </div>
                <div class="modal-body pl-0 pr-0 c-pt-24 c-pb-24">
                    <div class="dialog--content__title fw-700 fz-13 c-mb-12 text-title-theme">
                        Thông tin nạp thẻ
                    </div>
                    <div class="card--gray c-mb-16 c-pt-8 c-pb-8 c-pl-12 c-pr-12">
                        <div class="card--attr justify-content-between d-flex c-mb-8 text-center">
                            <div class="card--attr__name fw-400 fz-13 text-center">
                                Nhà mạng
                            </div>
                            <div class="card--attr__value fz-13 fw-500" id="confirmTitle"></div>
                        </div>
                        <div class="card--attr justify-content-between d-flex c-mb-8 text-center">
                            <div class="card--attr__name fw-400 fz-13 text-center">
                                Mệnh giá
                            </div>
                            <div class="card--attr__value fz-13 fw-500" id="confirmPrice"></div>
                        </div>
                        <div class="card--attr justify-content-between d-flex c-mb-8 text-center">
                            <div class="card--attr__name fw-400 fz-13 text-center">
                                Chiết khấu
                            </div>
                            <div class="card--attr__value fz-13 fw-500" id="confirmDiscount"></div>
                        </div>
                        <div class="card--attr justify-content-between d-flex c-mb-8 text-center">
                            <div class="card--attr__name fw-400 fz-13 text-center">
                                Khuyến mại
                            </div>
                            <div class="card--attr__value fz-13 fw-500" id="confirmPromotion"></div>
                        </div>
                    </div>
                    <div class="card--gray c-mb-16 c-pt-8 c-pb-8 c-pl-12 c-pr-12">
                        <div class="card--attr justify-content-between d-flex c-mb-8 text-center">
                            <div class="card--attr__name fz-13 fw-400 text-center">
                                Phí thanh toán
                            </div>
                            <div class="card--attr__value fz-13 fw-500">
                                Miễn phí
                            </div>
                        </div>
                    </div>
                    <div class="card--gray  c-mb-0 c-pt-8 c-pb-8 c-pl-12 c-pr-12">
                        <div class="card--attr justify-content-between d-flex c-mb-8 text-center">
                            <div class="card--attr__name fw-400 fz-13 text-center">
                                Số tiền thực nhận
                            </div>
                            <div class="card--attr__value fz-13 fw-500"><a href="javascript:void(0)" class="c-text-primary" id="totalBill"></a></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn primary google_buy_charge" type="button" id="confirmSubmitButton">
                        Xác
                        nhận
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade modal-small" id="modalSuccessPayment">
        <div class="modal-dialog modal-dialog-centered modal-custom">
            <div class="modal-content">
                <div class="modal-header justify-content-center p-0">
                    <img class="c-pt-20 c-pb-20" src="/assets/frontend/theme_5/image/son/success.png" alt="">
                </div>
                <div class="modal-body text-center c-pl-24 c-pr-24 pt-0 pb-0">
                    <p class="fw-700 fz-15 c-mt-12 mb-0 text-title-theme">Nạp thẻ thành công</p>
                    <p class="fw-400 fz-13 c-mt-10 mb-0" id="successMessage"></p>
                </div>
                <div class="modal-footer c-p-24">
                    <a href="/" class="btn secondary">Trang chủ</a>
                    <button class="btn primary handle-recharge-modal" data-tab="1" data-dismiss="modal">
                        Nạp
                        thêm
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade modal-small" id="modalFailPayment">
        <div class="modal-dialog modal-dialog-centered modal-custom">
            <div class="modal-content">
                <div class="modal-header justify-content-center p-0">
                    <img class="c-pt-16 c-pb-16" src="/assets/frontend/theme_5/image/son/thatbai.png" alt="">
                </div>
                <div class="modal-body text-center c-pl-24 c-pr-24 pt-0 pb-0">
                    <p class="fw-700 fz-15 c-mt-12 mb-0 text-title-theme">Nạp thẻ thất bại</p>
                    <p class="fw-400 fz-13 c-mt-10 mb-0" id="failMessage"></p>
                </div>
                <div class="modal-footer c-p-24">
                    <button class="btn ghost" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-small" id="modalRuongQuanHuy" aria-modal="true">
        <div class="modal-dialog modal-dialog-centered modal-custom">
            <div class="modal-content">
                <div class="j-img-ruongQuanHuy">
                    <div class="modal-header justify-content-center">
                        <img class="c-pt-20 c-pb-20" src="/assets/frontend/theme_5/image/son/success.png" alt="">
                    </div>
                </div>
                <div class="modal-body text-center c-pl-24 c-pr-24 c-my-12 pt-0 pb-0">
                    <p class="fw-700 fz-15 fz-lg-15 fz-md-14 fz-sm-12 mb-0 text-title-theme">
                        Chúc mừng
                        bạn đã mở
                        trúng
                    </p>
                    <div class="j-quanhuy content-popup fw-400 fz-13 fz-lg-13 fz-md-12 fz-sm-11 c-mt-10 mb-0">
                    </div>
                </div>
                <div class="modal-footer c-p-24">
                    <button class="btn primary" data-dismiss="modal">Chơi tiếp</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade login show" id="viewMore" aria-modal="true">

        <div class="modal-dialog step-tab-panel modal-xl modal-dialog-centered login animated">
            <!--        <div class="image-login"></div>-->
            <div class="modal-content">
                <div class="modal-header p-0" style="border-bottom: 0">
                    <div class="row marginauto modal-header-order-ct">
                        <div class="col-12 span__donhang text-center" style="position: relative">
                            <span id="detailTitle" class="text-title-bold fz-20"></span>
                            <div class="close" data-dismiss="modal" aria-label="Close">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-body modal-viewmore-body" id="detailContent">
                </div>
            </div>
        </div>

    </div>

    <!-- handle bottom sheet -->
    <div class="bottom-sheet" id="sheet-view-more" aria-hidden="true" data-height="80">
        <div class="layer"></div>
        <div class="content-bottom-sheet bar-slide">
            <div class="sheet-header">
                <h2 class="text-title center" id="detailTitleSheet">
                </h2>
                <label for="check-bottom-sheet" class="close"></label>
            </div>
            <div class="sheet-body">
                <!-- body -->
                <div id="detailContentSheet">
                </div>
            </div>
        </div>
    </div>

    <div class="c_scroll-top go-to-top">
        <div class="c_circle">
            <img src="/assets/frontend/theme_3/image/c_back-to-top.svg" alt="" style=" ">
        </div>
    </div>


</div>